
@{
    ViewBag.Title = "工作台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- 面包屑 start -->
<div class="page-title-breadcrumb">
    <ol class="breadcrumb page-breadcrumb pull-left">
        <li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">工作台</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">工作区域</li>
    </ol>
    <div class="clearfix"></div>
</div>
<!-- 面包屑 end -->

